
.container{
    background: #faeae8;
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    color: rgb(81, 70, 70);
    font-family: 'Euphoria Script', cursive;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgb(217, 158, 158);

}

.container_cosas{
   
    padding-bottom: 1rem;
    padding-top: 1rem;

    height: auto;
    background-color: rgba(253, 253, 252, 0.7);
   
    border-radius: 5px;

 
}


.buttonsBox{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin: 0 auto;
}

.buttons{
    background-color: rgb(176, 119, 119);
    border-radius: 5px;
    
    
    color: white;
    cursor: pointer;
   
    font-style: normal;
    
    font-weight: 500;
    height: 2rem;
    width: 8rem;
    
   
    
    
    
   
    
    transition: color 100ms;
    
    
    
  
   
    transition: 0.3s;
    box-shadow: 0 0 5rem rgb(156, 148, 148);
}

.buttons:hover{
    background-color: rgb(189, 131, 131);
        transition: 0.3s;
}

.historialDeCompras{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 2rem;
    background-color: rgba(255, 246, 242, 0.7);
    font-size: 0.7rem;
    background: #faeae8;

}