.card {
    display: flex;
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 30rem;
    height: 30rem;
    margin: 1rem auto;
    transition: .3s;
    align-items: center;
    justify-content: center;

}

.name,
.types {
    color: black;
    margin: 7px auto;
}



.card:hover {
    transform: scale(1.1);
}

.imageCard {
    max-width: 30rem;
    max-height: 45rem;
}

.imageCard:hover {
    max-width: 30rem;
    max-height: 45rem;
}