.card {
    color: rgb(255, 255, 255);
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
   
    max-width: 30rem;
    max-height: 19rem;
    height:19rem;
    margin: 0.5rem;
    transition: .3s;
   
}
.img{
   
    max-width: 11rem;
    max-height: 10rem;
   
}

