.card {
    display: flex;
    font-family: 'Merriweather', serif;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 30rem;
    height: 30rem;
    margin: 1rem auto;
    transition: .3s;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transform: scale(1.1);
}
.img{
    max-width: 30rem;
    max-height: 45rem;
   
}

