* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* background-color: #DCB5B0; */
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    width: 100%;
    height: 100%;
    margin: 0;

}

.filtersAplied{

margin-top: 2rem;
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

button {
    border: none;
}

.logo {
    font-family: 'Euphoria Script', cursive;
    color: black;
    cursor: pointer;
    font-size: 3.2rem;
    font-weight: 100;
    border: none;
    background-color: transparent;
}

.SearchBarHome {
    margin-left: 6rem;
    justify-content: center;
    align-items: center;


}

.restoDeItems {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color:transparent;
    width: 100%;
   
    z-index: 3;


}

.Products {
    grid-column: 1/3;
    grid-row: 1;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    height: 30px;
    border-width: 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    margin-left: 80px;
    margin-top: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.Products:hover {
    color: rgba(101, 53, 53, 1);

}

.buttonProfile {
    float: right;
    grid-column: 3/3;
    grid-row: 1;
    height: 30px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    border-width: 0px;
    margin-right: 80px;
    cursor: pointer;
    color: #000000;
    margin-top: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.buttonProfile:hover {
    color: rgb(138, 54, 54);
}

.btnAddArtwork {
    float: right;
    height: 30px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-right: 80px;
    cursor: pointer;
    color: #000000;
    margin-top: 40px;
    background-color: #DCB5B0;
}

.btnAddArtwork:hover {
    color: rgb(138, 54, 54);
    transition: 0.3s;
}

.cards {
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    margin: 5rem auto;

}

.cardsContainer {
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgb(218, 148, 148);
    padding-bottom: 0.1rem;
    min-height: 40rem;


}

.carrusel {
    max-height: 50rem;
    margin: auto;
    overflow: hidden;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 20s infinite;
    animation-timing-function: ease;
    align-items: center;


}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
    max-height: auto;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}

.tapaHeader {
    height: 4rem;
    margin-bottom: 2rem;
}

.featured {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 56px;
    color: #000000;
    margin-right: 40px;
    margin-top: 100px;
    width: 100%;
}

.filtersDiv {
    font-family: 'Merriweather', serif;
    font-style: normal;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 25%;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    font-size: 0.8rem;
    height: 4rem;


}

.filters {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 7rem;


}

.optFilters {
    text-align: left;
}

.filters:focus,
.filters::selection {
    border: none;
}

.cartAndProfileAndFav {

    display: grid;
    grid-template-columns: 50% 5% 5%;
    align-items: center;

    justify-content: center;

}

.CartAndFav {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 3rem;
    align-items: center;
}

.select {
    margin: 4px;
}

.paginado {

    margin-top: 2rem;
    padding-bottom: 40px;
}

.button31Paginado {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 5px;

}

.button31Paginado:hover,
.button31Paginado:focus {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

form .formNewsletterBox {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
    font-size: 14px;
    margin-bottom: 20px;
    border-width: 0;
}

.newsletter {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 26px;
    color: #000000;
    margin-right: 40px;
    margin-top: 60px;
    width: 100%;
}

.btnCarrito {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;

    transition: 0.3s;
    width: 5rem;
}

.btnFav {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: #000000;
    cursor: pointer;

    transition: 0.3s;
    width: 5rem;
}

.btnCarrito:hover {
    color: rgb(141, 93, 93);
    transition: 0.3s;
}

.btnFav:hover {
    color: rgb(141, 93, 93);
    transition: 0.3s;
}

.btnSubscribe {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    padding: 10px 15px;
    margin: 15px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.btnSubscribe:disabled {
    opacity: 0.5;
    cursor: auto;
}

.body {
    margin-top: 6rem;


}

.galeryTitle {
    background: #f7dedb;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    color: rgb(81, 70, 70);
    font-family: 'Euphoria Script', cursive;
    font-size: 3rem;
    font-weight: 600;

}

.cantItems {
    background-color: red;
    border-radius: 9999px;
    width: 0.9rem;
    height: 0.9rem;
    font-size: 0.75rem;
    position: relative;
    bottom: 1rem;
    left: 1.5rem;
    color: white;
}

.iconsHeader {
    font-size: 2rem;
}

.buttonsFilter{
    background-color: rgba(234, 60, 60);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    margin-left: 0.7rem;
    cursor: pointer;
    color: white;
}
.buttonsFilter:hover{
    background-color: rgb(212, 43, 43);
}


.nav {
    max-width: 900px;
    margin: auto;

    font-size: 20px;
    margin-top: 50px;
    color: #000000;
}

.menuHor {
    list-style: none;
    display: flex;
    justify-content: space-around;

    padding: 1rem;
}

.menuVert>li>button {
    display: block;
    z-index: inherit;
    color: black;
    text-decoration: none;


}

.menuHor>li:hover {}

.menuVert {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;

}

.menuHor li:hover .menuVert {
    display: block;
    color: #000000;
}

.menuVert li:hover {}

.menuVert li a {
    display: block;
    color: black;
    padding: 15px 15px 15pxm 20px;
    text-decoration: none;
}


.buttonsProf {
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
    width: 6.5rem;
}

.buttonsProf:hover {
    background-color: rgb(250, 233, 233);
    cursor: pointer;
    transition: 0.2s;
}

.buttonsProfBase {
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0.1rem;

}

.buttonsProfBase:hover {

    color: rgb(141, 93, 93);
    margin-top: 0.1rem;
    cursor: pointer;
}