.cards {

    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5rem auto;
}

.carrusel {
    max-height: 50rem;
    margin: auto;
    overflow: hidden;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 20s infinite;
    animation-timing-function: ease;
    align-items: center;


}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
    max-height: auto;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}

.featured {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
    margin-right: 40px;
    margin-top: 20px;
    width: 100%;

}


.body {}