* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* background-color: #DCB5B0; */
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    width: 100%;
    height: 1280px;
    background: #DCB5B0;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    height: 120px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

}

.logo {
    font-family: 'Euphoria Script', cursive;
    text-decoration-color: rgba(101, 53, 53, 1);
    color: black;
    font-size: 100px;
    font-weight: 100;
    line-height: 51px;
    margin-bottom: 40px;
    margin-top: 40px;
    /* background-color: #DCB5B0; */
}

.Products {
    grid-column: 1/3;
    grid-row: 1;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    height: 30px;
    border-width: 0px;
    cursor: pointer;
    float: left;
    color: #000000;
    margin-left: 80px;
    margin-top: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.Products:hover {
    color: rgb(138, 54, 54);

}

.buttonProfile {
    float: right;
    grid-column: 3/3;
    grid-row: 1;
    height: 30px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    border-width: 0px;
    margin-right: 80px;
    cursor: pointer;
    color: #000000;
    margin-top: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.buttonProfile:hover {
    color: rgb(138, 54, 54);
}

.cards {

    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5rem auto;
}

.carrusel {
    max-height: 50rem;
    margin: auto;
    overflow: hidden;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 20s infinite;
    animation-timing-function: ease;
    align-items: center;


}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
    max-height: auto;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}

.featured {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
    margin-right: 40px;
    margin-top: 20px;
    width: 100%;

}

.filtersDiv {

    font-family: 'Merriweather', serif;
    font-style: normal;
    display: flex;
    height: 30px;
    width: 30%;
    margin: 10px auto;
    flex-flow: row wrap;
    justify-content: space-between;
}