/* #wrap {
    margin: 50px 100px;
    height: 60px;
    padding: 0;
    width: 40px;
  } */
#inputSearch {
  padding-right: 20px;
}

input[type="text"] {
  height: 24px;
  font-size: 20px;
  display: inline-block;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 3px;
  width: 0px;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.search-bar {
  width: 40px;
}

input[type="text"]:focus {
  width: 80px;
  z-index: 1;
  border-bottom: 1px solid rgb(0, 0, 0);
  cursor: text;
}

input[type="submit"] {
  height: 40px;
  width: 20px;
  display: inline-block;
  color: red;
  background: url(https://i.imgur.com/noqkYx0.png) center center no-repeat;
  text-indent: -10000px;
  border: none;
  top: 0px;
  /* position: absolute; */
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;

}